.pro{
    /* border: 3px black solid; */
    width: 300px;
    height: 500px;
    margin:10px;
    padding : 10px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.pro:hover{
    box-shadow: rgba(18, 135, 237, 0.6) 0px 8px 15px;

}
img{
    width: 100%;
    border-radius: 12% 12% 0 0;
}


.buttons{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 50px;
    background-color: rgb(9, 129, 59 ,0.7);
    border: none;
    border-radius: 5px;
    color: white;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.buttons:hover{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px;
}

.btn{
    position: absolute;
    left: 30%;
    bottom: 10px;
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
